* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #000009, #130416, #06003b);
    color: white;
    font-family: 'Poppins', sans-serif;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: linear-gradient(to bottom, rgba(39, 27, 70, 0.54), rgb(0, 0, 0));
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav:hover {
    background: linear-gradient(to bottom, #02061a, #0a0d24);
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.3);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
}

nav ul li a:hover {
    color: rgb(141, 141, 227);
    font-size: 1.04rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 120px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 3rem;
}

.rightSection img {
    width: 80%;
    transition: transform 0.3s ease;
}

.rightSection img:hover {
    transform: scale(1.2);
}

.purple {
    color: blueviolet;
}

#element {
    color: blueviolet;
}

.secondSection {
    margin: auto;
    max-width: 80vw;
    height: 60vh;
}

main hr{
    border: none;
    background: linear-gradient(to right, #090632, #0d4281, #1c86c0, #7fdff3, #d3f8e2, #7fdff3, #1c86c0, #0d4281, #090632);
    height: 7.2px;
    margin: 40px 84px;
    border-radius: 50px;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.text-gray {
    color: gray
}

.secondSection .box {
    width: 9.8vw;
    height: 0;
    margin: 56px 0;
    border-top: 2px solid;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.top-image {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
    border-radius: 50px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

.starting-mark {
    position: relative;
    width: 50px;
    height: 50px;
    margin: -25px 0 -10px 0;
    padding: 0;
    border-radius: 100px;
}

.top-image,
.starting-mark {
    transition: transform 0.3s ease;
}

.top-image:hover,
.starting-mark:hover {
    transform: scale(3);
}

.ending-mark img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 50px;
    bottom: 25px;
    transition: transform 0.3s ease;
}

.ending-mark img:hover {
    transform: scale(2);
}

.skill-logo {
    width: 50px;
    height: auto;
    border-radius: 30px;
    margin: 0 7px;
    transition: transform 0.3s ease;
}

.skill-logo:hover {
    transform: translateY(-5px) scale(2);
}

.skill-name {
    font-size: 18px;
    margin-top: 10px;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}

.skill-sub-container {
    text-align: center;
}

.achievement li {
    padding: 4px;
    margin: 4px;
    color: linear-gradient(to right, #001f3f, #ffffff);                          
}

footer {
    background: linear-gradient(rgb(1 0 4), #2a0130, rgb(2 2 67));
    color: white;
    text-align: center;
    padding: 40px 0;
    border-radius: 25px;
}

.footer-container {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info {
    flex-basis: 100%;
    text-align: left;
}

.social-links {
    flex-basis: calc(50% - 10px);
    text-align: right;
}

.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links ul li {
    margin-bottom: 10px;
}

.social-links ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
}

.social-links ul li a:hover {
    color: #09a9ff;
}

.social-links h3 {
    color: white;
    margin-bottom: 10px;
}

.social-links ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.social-links ul li {
    margin-right: 10px;
}

.social-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-logo:hover {
    transform: scale(2) translateY(-5px);
}

.upperSection,
.lowerSection {
    flex: 1;
    margin-bottom: 20px;
}

.about-section {
    margin: 80px auto;
    max-width: 800px;
    text-align: center;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #ffffff;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    margin-right: 20px;
}

.about-image img {
    width: 200px;
    border-radius: 50%;
}

.about-text {
    max-width: 500px;
}

.about-text p {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.6;
}

.services-section {
    padding: 50px;
}

.services-section h2 {
    padding: 4px;
    margin: 4px;
    gap: 5px;
}

.service {
    display: flex;
    margin-bottom: 40px;
}

.service-icon {
    margin-right: 20px;
}

.service-icon img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.service-info h3 {
    margin-top: 0;
}

/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    background: linear-gradient(to bottom, #08001a,#360041, #000000);
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 768px) {
    /* Adjustments for tablets and smaller screens */
    .firstSection {
        flex-direction: column;
        align-items: center;
    }

    .firstSection>div {
        width: 80%;
    }

    .secondSection h1 {
        font-size: 1.5rem;
    }

    .secondSection .box {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 480px) {
    /* Adjustments for smaller screens */
    nav ul li a {
        padding: 8px 16px;
    }

    .firstSection {
        margin: 80px 0;
    }

    .firstSection>div {
        width: 90%;
    }

    .secondSection h1 {
        font-size: 1.2rem;
    }

    .secondSection .box {
        margin: 10px 0;
    }

    .vertical-title,
    .vertical-desc {
        display: none;
    }

    .top-image,
    .starting-mark {
        display: none;
    }

    .ending-mark img {
        display: none;
    }

    .skill-logo {
        width: 40px;
    }

    .skill-name {
        font-size: 14px;
    }

    .social-links ul li a {
        font-size: 14px;
    }

    footer {
        padding: 20px 0;
    }

    .about-section h2 {
        font-size: 1.5rem;
    }

    .about-image img {
        width: 150px;
    }

    .about-text p {
        font-size: 1rem;
    }

    .services-section h2 {
        font-size: 1.5rem;
    }

    .service-info h3 {
        font-size: 1rem;
    }

    .service-icon img {
        width: 30px;
        height: 30px;
    }
}
